<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header(AJAX)"/>
</head>
<body>
<!--<th:block th:replace="fragments/navbar :: navbar"/>-->

<h1>Posts</h1>
<div id="posts"></div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<!--incule the javaScript file with the AJAX request-->
<script th:src="@{/js/posts.js}"></script>
<!--<th:block th:replace="fragments/footer :: footer"/>-->
<!--<th:block th:replace="fragments/bootstrap :: bootstrap"/>-->
</body>
</html>