<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header(Create)"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<h1>Create a post</h1>

<form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <h3>Title:</h3><input type="text" th:field="*{title}"/>
    <br/>
    <h3>Post:</h3><input type="text" th:field="*{body}"/>
    <br/>
    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
    <br/>
    <button class="btn btn-success">Publish Post</button>
</form>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/bootstrap :: bootstrap"/>
</body>
</html>