<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header(Edit)"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<h1>Make changes to your post</h1>

<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="POST" th:object="${post}">
    <input type="hidden" th:field="*{owner.id}"/>
    <input type="text" th:field="*{title}"/>
    <br/>
    <textarea th:rows="10" th:cols="30" th:field="*{body}"></textarea>
    <button class="btn btn-warning">Confirm Edit</button>
</form>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/bootstrap :: bootstrap"/>
</body>
</html>