<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header(Sign-up)"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<h1>Create an account</h1>

<form th:action="@{/sign-up}" th:method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}"/>
    <br/>
    <label for="email">Email</label>
    <input id="email" th:field="*{email}"/>
    <br/>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}"/>
    <br/>
    <input type="submit" value="Sign me up!"/>
</form>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/bootstrap :: bootstrap"/>
</body>
</html>